:root {
  --hue-main: hsl(120, 85%, 18%);
  --hue-main-darker: hsl(120, 85%, 15%);
  --hue-main-faded: hsla(120, 85%, 18%, 0.5);
  --hue-sidekick-darker: hsl(36, 100%, 50%);
  --hue-sidekick: orange;
  --hue-snow: hsla(218, 19%, 98%, 1);
}
.image-size {
  height: 50vh;
}

p {
  font-size: 0.75rem;
}

tr {
  font-size: 0.75rem;
  border-bottom: 1px solid black;
}
.hg-main {
  background-color: var(--hue-main);
  color: var(--hue-sidekick);
  text-shadow: red;
}

.hg-sidekick {
  background-color: var(--hue-sidekick);
  color: red;
  text-shadow: var(--hue-main);
}

.border-for-card {
  border: 2px solid var(--hue-main);
}

.hg-snow {
  background-color: var(--hue-snow);
}
.hg-main-darker {
  background-color: var(--hue-main-darker);
}
.start-buttons {
  background-color: var(--hue-main);
  border: 2px solid var(--hue-snow);
  color: var(--hue-snow);
}

.start-buttons-faded {
  background-color: var(--hue-main-faded);
  border: 2px solid var(--hue-snow);
  color: var(--hue-snow);
}

.border-y-light {
  border-top: 3px solid var(--hue-snow);
  border-bottom: 3px solid var(--hue-snow);
}

.hg-sidekick-darker {
  background-color: var(--hue-sidekick-darker);
}

.font-color-main-darker {
  color: var(--hue-main-darker);
}
